/*#sidebar {
  background-color: rgba(0,0,0,.03);
}*/
.padding-top-10 {
	padding-top: 8px;
}

.nopadding {
	padding-left: 0;
	padding-right: 0;
}

.bg-white {
	background-color: white;
}

.border-right {
	border-right: 1px solid #eee;
}

.border-left {
	border-left: 1px solid #eee;
}

body {
  background-color: rgb(239, 243, 248);
}


.posBottomRight{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.loading-message::after {
	content: 'Please wait';
	color: #5fbbad;
	font-size: 20px;
	display: block;
	padding-top: 15px;
}
